mixin text-input(header, fieldId, fieldType, headerComment, placeholder, fieldValue, isFocused)
    include ../field-header/field-header
    .text-input(class=isFocused && "text-input--focused")
        +field-header(header, headerComment, fieldId)
        input.text-input__input(
            type=fieldType
            id=fieldId
            name=fieldId
            placeholder=placeholder
            value = fieldValue
        )