//- mixin text-input(header, fieldId, fieldType, headerComment, placeholder, fieldValue, isFocused)
mixin text-input(data)
    include ../field-header/field-header
    .text-input
        +field-header(data.header, data.headerComment, data.inputId)
        input.text-input__input(
            class= data.isFocused && "text-input__input--focused"
            type=data.inputType
            id=data.inputId
            name=data.inputId
            placeholder=data.placeholder
            value = data.inputValue
        )